<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.UserMapper">


	<select id="read" resultType="org.shiftworks.domain.UserDTO">
	
		select emp_id, emp.dept_id, authority, password from employee emp 
			join department dept 
			on emp.dept_id = dept.dept_id
			where emp_id = #{emp_id}
	
	</select>
	
	<!-- 로그인 -->
	<select id="userLogin" resultType="org.shiftworks.domain.EmployeeVO">
	
		select * from employee 
			where emp_id = #{emp_id} and password = #{password}
	
	</select>

</mapper>
